.column-menu_order {
    max-width: 128px;
    width: fit-content
}

.menu-order-input {
    width: 100%;
    max-width: 64px;
    text-align: center;
}

.category-multi-select-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: #fff;
    padding: 12px;
    max-height: 460px;
    overflow: hidden;
    overflow-y: scroll;
    border: 1px solid #999;
    border-radius: 8px;
}