.block-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.block-header h3 {
    font-family: 'Inter', sans-serif;
    font-size: 1.5em;
}

.block-header .see-more {
    color: var(--primary);
    display: flex;
    align-items: center;
    gap: 8px;
}

.block-header .see-more:after {
    content: '\e941';
    font-family: Material Icons;
    font-size: 1.5rem;
}

.block-02 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(128px, 1fr));
    gap: var(--gap);
}

@media only screen and (max-width: 960px) {
    .block-02 {
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    }
}

.block-03 {
    display: flex;
    gap: var(--gap);
}

.block-03 a{
    height: 100%;
    width: 100%;
}

@media only screen and (max-width: 960px) {
    .block-03 {
        flex-direction: column;
    }
}

.block-04 {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.block-04 .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: var(--gap);
}

.block-04 .featured {
    aspect-ratio: 21/9;
}


.block-05 {
    flex-direction: row;
    display: flex;
    gap: var(--gap);
}

.block-05 > div{
    flex-basis: 50%;
}

.block-05 .grid{
    display: grid;
    grid-auto-rows: 1fr;
    gap: var(--gap);
}

@media only screen and (max-width: 960px) {
    .block-05 {
        flex-direction: column;
    }
}

.block-06.main{
    display: flex;
    gap:var(--gap);
}

@media only screen and (max-width: 960px) {
    .block-06 {
        flex-direction: column;
    }
}

.block-06.minor{
    margin-top: var(--gap);
    display: grid;
    gap:var(--gap);
    grid-template-columns: repeat(auto-fit, minmax(224px, 1fr));
}

.block-07{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(180px, 1fr));
    gap:var(--gap);
}

.block-08{
    display: flex;
    gap:var(--gap);
}

.block-08 .column.main{
    flex-basis: 80%;
    padding-right: var(--gap);
    border-right: 1px solid var(--gray-200);
}
.block-08 .column.minor{
    flex-basis: 20%;
}

.block-08 .column.minor article:not(:last-child){
    padding-bottom: var(--gap);
    border-bottom: 1px solid var(--gray-200);
}

.block-08 .column.main .post-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(128px, 1fr));
    gap: var(--gap);
}

@media only screen and (max-width: 960px) {
    .block-08 {
        flex-direction: column;
    }
    .block-08 .column.main{
        border: none;
        padding-right: inherit;
    }

}

/***
*
*   Block 09
*
*/

.block-09 .news-line{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: var(--gap);
    margin-bottom: var(--gap);
}

.block-09 .news-line article:not(:last-child){
    border-right: 1px solid var(--gray-200);
    padding-right: 12px;
}

.block-09 .news-line article h4{
    font-size: 1.2em;
}

.block-09 .grid .featured-image-container{
    min-width: 75%;
}

.block-09 .last-news::before{
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #E62117;
    display: inline-flex;
    margin-right: 12px;
    outline: 0px solid #E6211700;
    animation-name: newsblink;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes newsblink {
    0% {outline: 0px solid #E62117FF;}
    50% {outline: 6px solid #E6211780;}
    100% {outline: 6px solid #E6211700;}
  }

/***
*
*   Block 10
*
*/

.block-10{
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.block-10.two-columns{
    grid-template-columns: 1fr 1fr;
}

.block-10.three-columns{
    grid-template-columns: 1fr 1fr 1fr;
}

.block-10.four-columns{
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.block-10.five-columns{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.block-10 .unit-03{
    aspect-ratio: 1;
}

.block-10 .unit-03 .info .excerpt{
    display: none;
}

@media only screen and (max-width: 960px) {
    .block-10,
	.block-10.three-columns,
	.block-10.four-columns{
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    }
}

.block-partners{
    display: grid;
    gap:var(--gap);
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.block-partners a.card{
    aspect-ratio: 16/9;
    border-radius: var(--radius);
    overflow: hidden;
}

.block-partners a.card img{
    object-fit: cover;
    width: 100%;
    height: auto;
}

.container.result-list{
    flex-direction:column;
}

.video-block-01 .container {
    gap: var(--gap);
}

.video-block-01 .minor-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(128px, 1fr));
}

/***
*
*   Social Media
*
*/

.block-socialmedia{
    display: grid;
    gap:var(--gap);
    grid-template-columns: repeat(auto-fit, minmax(104px, 1fr));
}

.block-socialmedia .card{
    padding: 12px;
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 0 0 #0000;
    transform: translateY(0px);
    transition: all .15s ease-in-out;
}
.block-socialmedia .card:hover{
    box-shadow: 0 3px 6px 0 #0003;
    transform: translateY(-6px);
    transition: all .15s ease-in-out;
}

.block-socialmedia .card span{
    width:80px;
    height: 80px;
    border-radius: 50%;
    background-color: var(--gray-100);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-family: "Font Awesome 5 Brands";
    font-weight: 900;
    color:var(--gray-400)
}

.block-socialmedia .card:hover span{
    color:#fff;
}

.block-socialmedia .card.facebook span:before{
    content: '\f082';
}
.block-socialmedia .card.facebook:hover span{
    background-color: #1877f2;
} 

.block-socialmedia .card.instagram span:before{
    content: '\f16d';
}
.block-socialmedia .card.instagram:hover span{
    background-color: #C13584;
}

.block-socialmedia .card.tiktok span:before{
    content: '\f3cd';
    font-family: "Font Awesome 5 Free";
}
.block-socialmedia .card.tiktok:hover span{
    background-color: #000;
} 

.block-socialmedia .card.youtube span:before{
    content: '\f167';
}
.block-socialmedia .card.youtube:hover span{
    background-color: #E62117;
} 

.block-socialmedia .card.whatsapp span:before{
    content: '\f232';
}
.block-socialmedia .card.whatsapp:hover span{
    background-color: #25D366;
} 

.block-socialmedia .card.twitter span:before{
    content: '\f099';
}
.block-socialmedia .card.twitter:hover span{
    background-color: #1DA1F2;
} 






