@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body,
p {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: "Merriweather", serif;
    color:var(--black-pure);
    line-height: 1.25;
}

/* Major Third Scale */
h1 {
    font-size: 3.815rem;
}

h2 {
    font-size: 3.052rem;
}

h3 {
    font-size: 2.441rem;
}

h4 {
    font-size: 1.953rem;
}

h5 {
    font-size: 1.563rem;
}

h6 {
    font-size: 1.25rem;
}

small {
    font-size: 0.8rem;
}

@media only screen and (max-width: 960px){
    body,
    p{
        font-size: 14px;
    }

    /* Major Second Scale */
    h1{
        font-size: 2.027rem;
    }
    h2{
        font-size: 1.802rem;
    }
    h3{
        font-size: 1.602rem;
    }
    h4{
        font-size: 1.424rem;
    }
    h5{
        font-size: 1.266rem;
    }
    h6{
        font: 1.125rem;
    }
}